In [311]:
import pandas as pd

In [320]:
storeData = pd.read_csv('./storeData.csv', encoding='cp1252')
storeData.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

## Gereksiz verilerin silinmesi ---> `.drop`

`Customer ID`: Kaldırılacak sütunun adıdır.Bu analizde kullanmayacağız.
`axis=1`: İşlemin sütun üzerinde yapılacağını belirtir. `axis=0` olsaydı, işlem satırlar üzerinde yapılırdı.
`inplace=True`: Bu, değişikliğin orijinal veri çerçevesinde kalıcı olarak yapılmasını sağlar. `inplace=False` (veya belirtilmemiş) olsaydı, yeni bir veri çerçevesi döndürülürdü ve orijinal veri çerçevesi değişmeden kalırdı.

In [278]:
storeData.drop('Customer ID',axis=1,inplace=True) 
storeData.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer Name', 'Segment', 'Country', 'City', 'State', 'Postal Code',
       'Region', 'Product ID', 'Category', 'Sub-Category', 'Product Name',
       'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

## Veri bütünlüğü ---> `.shape` 
komutu ile veri setinde kaç sütun ve satır olduğunu öğrenebiliriz.

In [281]:
storeData.shape

(9994, 20)

Başlık ve 994 sütun dahil 20 satır vardır.

## Eksik Değerlerin Kontrol Edilmesi ---> `.isNull()`

In [285]:
storeData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer Name  9994 non-null   object
 6   Segment        9994 non-null   object
 7   Country        9994 non-null   object
 8   City           9994 non-null   object
 9   State          9994 non-null   object
 10  Postal Code    9994 non-null   int64
 11  Region         9994 non-null   object
 12  Product ID     9994 non-null   object
 13  Category       9994 non-null   object
 14  Sub-Category   9994 non-null   object
 15  Product Name   9994 non-null   object
 16  Sales          9994 non-null   float64
 17  Quantity       9994 non-null   int64
 18  Discount       9994 non-null   float64
 19  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(14)
memory usage: 1.5+ MB

`.info()` komutu ile verinin satır ve sütunlarının uyuştuğunu, boş değer olup olmadığını ve veri tiplerini doğruladık. Bir sütundaki değer eksik veya bilinmiyorsa `null` değeri kullanılır. `NaN` ise sayı değil anlamına gelir ve bir veri kümesindeki eksik değeri temsil eder.

In [288]:
# satırlarda null değer olup olmadığı kontrolü yapılıyor.
storeData.isnull().sum()
# verilerde null yok

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

## Tekrar Eden Satırların Kaldırılması ---> `.duplicated()`

In [291]:
storeData.duplicated().sum()

0

In [293]:
storeData[storeData.duplicated(keep = 'last')]

Empty DataFrame
Columns: [Row ID, Order ID, Order Date, Ship Date, Ship Mode, Customer Name, Segment, Country, City, State, Postal Code, Region, Product ID, Category, Sub-Category, Product Name, Sales, Quantity, Discount, Profit]
Index: []

### eğer tekrar eden satırı bulmuş olsaydı, onları listelerdi.

`duplicated(keep='last')`: Bu yöntem, veri çerçevesindeki yinelenen satırları belirler.
`keep='last'`: Yinelenen satırlardan sonuncusunu tutar ve önceki satırları yinelenmiş olarak işaretler. Başka bir deyişle, her yinelenen grup içinde sonuncu satır hariç diğer tüm satırlar yinelenmiş olarak kabul edilir.
`keep='first'` (varsayılan): Yinelenen satırlardan ilkini tutar ve sonraki satırları yinelenmiş olarak işaretler.
`keep=False`: Tüm yinelenen satırları yinelenmiş olarak işaretler.
`storeData[ ... ]`: Bu ifade, veri çerçevesindeki belirli bir koşulu karşılayan satırları filtrelemek için kullanılır.
`storeData.duplicated(keep='last')`: Bu kısım, True veya False değerleri döndüren bir Boolean dizisi üretir. True olan satırlar yinelenmiş (duplicate) satırlardır.

### tekrar edilen kayıtları kaldırma (olsaydı)
storeData.drop_duplicates(inplace = True)

storeDatastore.shape

`drop_duplicates`: Bu yöntem, veri çerçevesindeki yinelenen satırları kaldırmak için kullanılır.
`inplace=True`: Bu, değişikliğin orijinal veri çerçevesinde kalıcı olarak yapılmasını sağlar. `inplace=False` (veya belirtilmemiş) olsaydı, yeni bir veri çerçevesi döndürülürdü ve orijinal veri çerçevesi değişmeden kalırdı.